{% extends "simple_page.html" %}
{% load static i18n %}
{% block title %}
    {{ project.title }}
{% endblock title %}
{% block heading %}
    <img src="{{ project.icon.url }}"
         alt="{{ project.icon.name }}"
         width="256"
         height="256"
         class="rounded-2xl order-first inline-block m-8 shadow-sm hover:shadow-md motion-safe:duration-200 shadow-primary hover:shadow-primary hover:scale-105">
    <span class="inline-block">{{ project.title }}</span>
{% endblock heading %}
{% block main_content %}
    <div class="flex flex-col gap-12">
        <ul class="flex flex-wrap gap-4 justify-center">
            {% if project.github %}
                <li>
                    <a href="{{ project.github }}" target="_blank" class="link">{% translate "Repository" %} ↗</a>
                </li>
            {% endif %}
            {% if project.play_store %}
                <li>
                    <a href="{{ project.play_store }}" target="_blank" class="link">Play Store ↗</a>
                </li>
            {% endif %}
            {% if project.website %}
                <li>
                    <a href="{{ project.website }}" target="_blank" class="link">{% translate "Website" %} ↗</a>
                </li>
            {% endif %}
        </ul>
        <section>
            <h2 class="text-4xl">{% translate "Description" %}</h2>
            {% for paragraph in description|split:"\n" %}
                <p>{{ paragraph }}</p>
            {% endfor %}
        </section>
        {% if screenshots.0.url %}
            <section c>
                <h2 class="text-4xl">{% translate "Screenshots" %}</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
                    {% for screenshot in screenshots %}
                        {% if screenshot.url %}
                            <div class="overflow-hidden">
                                <img src="{{ screenshot.url }}"
                                     alt="{{ screenshot.name }}"
                                     width="{{ screenshot.width }}"
                                     height="{{ screenshot.height }}"
                                     class="hover:scale-110 motion-safe:duration-700">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock main_content %}
