<!DOCTYPE html>
{% load static tailwind_tags i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
<html lang="{{ CURRENT_LANGUAGE }}" class="scroll-smooth">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
            | Nicolás Pujía
        </title>
        <link rel="icon" type="image/ico" href="{% static "favicon.ico" %}" />
        <meta name="description"
              content="{% block description %}{% endblock description %}">
        <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
              rel="stylesheet">
        {% tailwind_css %}
        {% url "home" as home_url %}
        {% url "about" as about_url %}
        {% url "portfolio" as portfolio_url %}
        {% url "contact" as contact_url %}
    </head>
    <body class="bg-gradient-to-t from-light to-lighter dark:from-darker dark:to-dark text-dark  dark:text-light text-xl font-sans min-h-screen flex flex-col gap-8 p-8 sm:gap-16 sm:p-16">
        <header class="flex flex-row justify-between w-full">
            <nav class="font-light text-4xl flex flex-row justify-between w-full">
                <ul class="backdrop-blur-lg z-10 size-full border-b border-darker dark:border-light absolute left-0 top-0 pt-24 sm:py-32 pb-8 sm:pb-16 px-8 sm:px-16 gap-8 hidden flex-col xl:border-0 xl:flex xl:p-0 xl:static xl:flex-row xl:backdrop-filter-none"
                    id="nav-links">
                    {% include "navbar_items/icon_link.html" with href=home_url extra_classes="w-auto fill-none stroke-dark dark:stroke-light" view_box="-1 -1 39.99 19" target="_self" svg_path="m 0 9 c 0 0 4 -9 7 -9 c 3 0 3 17 0 17 c -3 0 7 -17 11 -17 c 4 0 1 10 1 10 c -5 14.55 8 3 8 -4 c 0 -4 -1 -6 -3 -6 c -2 0 -2 2 2 1 c 16 -3 16 11 -0.083 9" %}
                    {% include "navbar_items/text_link.html" with href=about_url text="About" %}
                    {% include "navbar_items/text_link.html" with href=portfolio_url text="Portfolio" %}
                    {% include "navbar_items/text_link.html" with href=contact_url text="Contact" %}
                </ul>
                <ul class="flex flex-row gap-8 justify-between z-20">
                    {% include "navbar_items/buttons/menu.html" with extra_classes="xl:hidden" %}
                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                    {% for language in AVAILABLE_LANGUAGES %}
                        {% with lang_code=language.0 url_without_lang=request.get_full_path|slice:"3:" %}
                            {% if lang_code != CURRENT_LANGUAGE %}
                                {% include "navbar_items/text_link.html" with href="/"|add:lang_code|add:url_without_lang text=lang_code %}
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% include "navbar_items/buttons/theme.html" %}
                </ul>
            </nav>
        </header>
        <main class="animate-[fade-in_1s]">
            <h1 class="dark:text-lighter text-5xl sm:text-7xl md:text-8xl xl:text-9xl text-center align-middle py-8">
                {% block heading %}
                {% endblock heading %}
            </h1>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
