{% extends "base.html" %}
{% block content %}
    <main class="flex min-h-screen animate-fade-in px-8 sm:px-16 py-32">
        <div class="flex flex-col m-auto gap-8">
            <h1 class="dark:text-lighter text-5xl sm:text-7xl md:text-8xl xl:text-9xl text-center">
                {% block heading %}
                {% endblock heading %}
            </h1>
            <div>
                {% block main_content %}
                {% endblock main_content %}
            </div>
        </div>
    </main>
{% endblock content %}
