{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} • {{ SITENAME|striptags }}{% endblock %}
{% block description %}{{ article.summary|striptags }}{% endblock %}
{% block content %}
    <article>
        <header>
            <h2>{{ article.title }}</h2>
        </header>
        {{ article.content }}
        <footer>
            <ul>
                <li>
                    <strong>Published:</strong>
                    <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </li>
                {% if article.modified %}
                    <li>
                        <strong>Last updated:</strong>
                        <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }} </time>
                    </li>
                {% endif %}
                {% if article.category %}
                    <li>
                        <strong>Category:</strong>
                        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                    </li>
                {% endif %}
                {% if article.tags %}
                    <li>
                        <strong>Tags:</strong>
                        {% for tag in article.tags %}
                            {# djlint: off #}
                            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                            {# djlint: on #}
                        {% endfor %}
                    </li>
                {% endif %}
                {% if article.google_play or article.website or article.github or article.youtube %}
                    <li>
                        <strong>External links:</strong>
                        {# djlint: off #}
                        {% if article.google_play %}<a href="{{ article.google_play }}">Google Play</a>{% endif %}

                        {% if article.website %}<a href="{{ article.website }}">Website</a>{% endif %}

                        {% if article.github %}<a href="{{ article.github }}">GitHub</a>{% endif %}

                        {% if article.youtube %}<a href="{{ article.youtube }}">YouTube</a>{% endif %}
                        {# djlint: on #}
                    </li>
                {% endif %}
            </ul>
        </footer>
    </article>
{% endblock %}
