{% extends "!simple/base.html" %}
{% block head %}
    {{ super() }}
    <meta name="color-scheme" content="dark light" />
    <meta property="og:site_name" content="{{ SITENAME|striptags }}" />
    {% if CSS_FILE %}
        <link rel="stylesheet"
              type="text/css"
              href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% endif %}
    {% block meta_description %}
        {% if SITEDESCRIPTION %}
            <meta name="description" content="{{ SITEDESCRIPTION }}" />
        {% endif %}
    {% endblock meta_description %}
    {% block og_type %}
        <meta property="og:type" content="website" />
    {% endblock og_type %}
    {% block og_title %}
        <meta property="og:title" content="{{ self.title()|striptags|trim }}" />
    {% endblock og_title %}
    {% block og_description %}
        {% if SITEDESCRIPTION %}
            <meta property="og:description" content="{{ SITEDESCRIPTION }}" />
        {% endif %}
    {% endblock og_description %}
    {% block og_url %}
        <meta property="og:url" content="{{ SITEURL }}" />
    {% endblock og_url %}
    {% block og_image %}
        <meta property="og:image" content="{{ SITEURL }}/images/logo.png" />
    {% endblock og_image %}
    <meta property="og:locale" content="en_US" />
    {# Twitter Card #}
    <meta name="twitter:card" content="summary" />
{% endblock head %}
{% block footer %}
    {% if SOCIAL %}
        <p>
            <strong>Social:</strong>
            {% for name, link in SOCIAL %}
                {# djlint: off #}
                <a href="{{ link }}">{{ name }}</a>
                {# djlint: on #}
            {% endfor %}
        </p>
    {% endif %}
    {% if LINKS %}
        <p>
            <strong>Other:</strong>
            {% for name, link in LINKS %}
                {# djlint: off #}
                <a href="{{ link }}">{{ name }}</a>
                {# djlint: on #}
            {% endfor %}
            {% if GITHUB_URL %}<a href="{{ GITHUB_URL }}">Source code</a>{% endif %}
        </p>
    {% endif %}
    <p>
        <small>© 2020-2026 {{ AUTHOR }} {{ SEPARATOR_SYMBOL }} Built with <a href="https://getpelican.com/">Pelican</a></small>
    </p>
{% endblock footer %}
