{% extends "!simple/base.html" %}
{% block head %}
    {{ super() }}
    <meta name="color-scheme" content="dark light" />
    {% if CSS_FILE %}
        <link rel="stylesheet"
              type="text/css"
              href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% endif %}
{% endblock head %}
{% block footer %}
    {% if SOCIAL %}
        <p>
            <strong>Social:</strong>
            {% for name, link in SOCIAL %}
                {# djlint: off #}
                <a href="{{ link }}">{{ name }}</a>
                {# djlint: on #}
            {% endfor %}
        </p>
    {% endif %}
    {% if LINKS %}
        <p>
            <strong>Other:</strong>
            {% for name, link in LINKS %}
                {# djlint: off #}
                <a href="{{ link }}">{{ name }}</a>
                {# djlint: on #}
            {% endfor %}
        </p>
    {% endif %}
    <p>
        <small>© 2020-2025 {{ AUTHOR }}</small>
    </p>
{% endblock footer %}
