{% extends "!simple/base.html" %}
{% block head %}
    {{ super() }}
    <meta name="color-scheme" content="dark light" />
    {% if CSS_FILE %}
        <link rel="stylesheet"
              type="text/css"
              href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% endif %}
{% endblock head %}
{% block footer %}
    <p>© {{ AUTHOR }} 2020-2025.</p>
    {% if LINKS %}
        <p>
            <strong>Links:</strong>
            {% for name, link in LINKS %}
                <a href="{{ link }}">{{ name }}</a>
                {% if not loop.last %}{{ SEPARATOR_SYMBOL }}{% endif %}
            {% endfor %}
        </p>
    {% endif %}
    {% if SOCIAL %}
        <p>
            <strong>Socials:</strong>
            {% for name, link in SOCIAL %}
                <a href="{{ link }}">{{ name }}</a>
                {% if not loop.last %}{{ SEPARATOR_SYMBOL }}{% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endblock footer %}
