{# This is a base template for Tags and Categories #}
{% extends "base.html" %}
{% set url = SITEURL ~ "/" ~ objects.url %}
{% set description = title ~ " of my entries" %}
{% macro filter_list_item(item, entries_amount) %}
    <li>
        <a class="bg-light dark:bg-dark text-dark dark:text-light bg-opacity-20 dark:bg-opacity-35 text-opacity-65 dark:text-opacity-65 inline-block px-2 pt-1 hover:opacity-50 duration-300 {% if entries_amount %}{% if entries_amount >= 12 %}text-5xl{% elif entries_amount >= 10 %}text-4xl{% elif entries_amount >= 8 %}text-3xl{% elif entries_amount >= 6 %}text-2xl{% elif entries_amount >= 4 %}text-xl{% elif entries_amount >= 2 %}text-lg{% else %}text-sm{% endif %}{% else %}text-sm{% endif %} {{ list_item_extra_class }}"
           href="/{{ item.url }}">
            {{ item.name }}
            {% if entries_amount %}({{ entries_amount }}){% endif %}
        </a>
    </li>
{% endmacro %}
{% block content %}
    <section>
        <h1 class="text-center py-24 px-8">{{ title }}</h1>
        <ul class="flex flex-wrap container mx-auto justify-center px-4 gap-2 items-center">
            {% for item, entries in objects|sort %}{{ filter_list_item(item, entries|count) }}{% endfor %}
        </ul>
    </section>
{% endblock content %}
