{# This is a base template for Tags and Categories #}
{% extends "base.html" %}
{% block title %}{{ super() }} > {{ page_title }}{% endblock %}
{% macro filter_list_item(item, entries_amount) %}
    <li class="bg-light text-dark dark:bg-dark dark:text-light bg-opacity-50 inline-block px-4 py-1 text-sm font-semibold hover:opacity-50 font-mono {{ list_item_extra_class }}">
        <a href="/{{ SITEURL }}/{{ item.url }}">{{ item.name }}</a>
        {% if entries_amount %}({{ entries_amount }}){% endif %}
    </li>
{% endmacro %}
{% block content %}
    <section>
        <h1 class="text-center py-24 px-8">{{ page_title }}</h1>
        <ul class="flex flex-wrap mx-auto justify-center p-8 gap-2">
            {% for item, entries in items|sort %}{{ filter_list_item(item, entries|count) }}{% endfor %}
        </ul>
    </section>
{% endblock content %}
