{% extends "base.html" %}
{% block navbar_extra_class %}{{ super() }}motion-safe:animate-fade-in-after-draw-svg-path{% endblock %}
{% block description %}My personal website{% endblock %}
{% macro scroll_down_btn(target_position, target_element, extra_class) %}
    <button type="button"
            class="btn absolute bottom-0 left-1/2 transform -translate-x-1/2 {{ extra_class }}"
            onclick="{% if target_position %}window.scrollTo(0, {{ target_position }});{% elif target_element %}document.getElementById('{{ target_element }}').scrollIntoView(){% else %}window.scrollBy(0, window.innerHeight){% endif %}">
        <svg class="fill-none motion-safe:animate-bounce"
             viewBox="0 0 24 24"
             stroke="currentColor"
             stroke-linecap="round"
             stroke-linejoin="round">
            <polyline points="7 13 12 18 17 13" />
            <polyline points="7 6 12 11 17 6" />
            <title>Scroll</title>
        </svg>
    </button>
{% endmacro %}
{% block content %}
    <div class="flex h-screen relative left-0 p-8 text-center" id="screen-0">
        <svg viewBox="-15 -38 194 82"
             class="m-auto w-full h-min max-h-[75vh] stroke-dark dark:stroke-lighter fill-none motion-safe:animate-fade-in">
            {% macro drawn_path(d, extra_class) %}
                <path stroke-linecap="round" stroke-linejoin="round" class="motion-safe:animate-draw-svg-path {{ extra_class }}" d="{{ d }}" />
            {% endmacro %}
            {{ drawn_path("M 0 -10 A 1 1 0 0 1 40 -10 C 40 14 27 10 27 29 Q 27 31 25 31 H 15 Q 13 31 13 29 C 13 9 0 13 0 -11") }}
            {{ drawn_path("M 15 33 H 25 A 1 1 0 0 1 25 37 H 15 A 1 1 0 0 1 15 33") }}
            {{ drawn_path('M -5 -10 H -14', 'light-ray') }}
            {{ drawn_path('M -2 -22 L -10 -26', 'light-ray') }}
            {{ drawn_path('M -3 2 L -11 6', 'light-ray') }}
            {{ drawn_path('M 45 -10 H 54', 'light-ray') }}
            {{ drawn_path('M 43 2 L 51 6', 'light-ray') }}
            {{ drawn_path('M 42 -22 L 50 -26 Z', 'light-ray') }}
            {{ drawn_path("M 60 0 H 124 L 120 -4 L 124 0 L 120 4 L 124 0 Z") }}
            {{ drawn_path("M 144 -37 H 164 A 10 10 0 0 1 174 -27 V 33 A 10 10 0 0 1 164 43 H 144 A 10 10 0 0 1 134 33 V -27 A 10 10 0 0 1 144 -37") }}
            {{ drawn_path("M 153 -32 A 1 1 0 1 1 154 -31 A 1 1 0 0 1 153 -32") }}
        </svg>
        {{ scroll_down_btn(target_element="screen-1", extra_class="motion-safe:animate-fade-in-after-draw-svg-path") }}
    </div>
    <script>
        document.getElementById('screen-0').style.bottom = document.getElementById('navbar').clientHeight + 'px'
    </script>
    <section class="flex h-screen relative appear-on-scroll p-10 sm:p-14 md:p-20 lg:p-24 xl:p-28 text-center"
             id="screen-1">
        <h1 class="m-auto leading-normal font-light dark:text-light">
            Transforming ideas into
            <a href="/featured-projects.html"
               class="link text-darker dark:text-lighter inline-block font-bold">real software</a>
        </h1>
        {{ scroll_down_btn(target_element="screen-2") }}
    </section>
    <section class="flex h-screen relative appear-on-scroll p-10 sm:p-14 md:p-20 lg:p-24 xl:p-28 text-center"
             id="screen-2">
        <div class="m-auto flex flex-col gap-16 font-light">
            <h1 class="leading-normal dark:text-light">
                Welcome, I am
                <a href="/about.html"
                   class="link text-darker dark:text-lighter font-bold inline-block">Nicolás Pujía</a>
            </h1>
            <p class="text-3xl sm:text-4xl italic">
                <em>Your trusted developer</em>
            </p>
        </div>
    </section>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script src="/theme/js/animations/appear-on-scroll.js"></script>
    <script src="/theme/js/animations/draw-svg-paths.js"></script>
{% endblock scripts %}
