{% extends "base.html" %}
{% block title %}{{ SITENAME|striptags }}{% endblock %}
{% block content %}
    <section>
        <hgroup>
          {% block content_title %}<h2>All articles</h2>{% endblock %}
          <p>{{ articles_page.object_list|count }} entries</p>
        </hgroup>
        {% for article in articles_page.object_list %}
            <article>
                {% if article.thumbnail %}
                    <img src="{{ SITEURL }}/{{ article.thumbnail }}"
                         alt="{{ article.title|striptags }}"
                         width="128"
                         height="128" />
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" fill="none" stroke="CanvasText" stroke-width="0.3">
                        <path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z" />
                        <path d="M14 2v5a1 1 0 0 0 1 1h5" />
                    </svg>
                {% endif %}
                <div>
                    <header>
                        <h3>
                            <a href="{{ SITEURL }}/{{ article.url }}"
                               rel="bookmark"
                               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                        </h3>
                    </header>
                    {{ article.summary }}
                    <footer>
                        <p>
                            <time title="Published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                            {% if article.modified %}
                                —
                                <time title="Last updated" datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }} </time>
                            {% endif %}
                        </p>
                    </footer>
                </div>
            </article>
        {% endfor %}
        {% if articles_page.has_other_pages() %}
            {% include "pagination.html" %}
        {% endif %}
    </section>
{% endblock content %}
