{% extends "base.html" %}
{% from "tags.html" import filter_list_item as tag_list_item with context %}
{% from "categories.html" import filter_list_item as category_list_item with context %}
{% block title %}Entries · {{ SITENAME }}{% endblock %}
{% block description %}A list of all my entries{% endblock %}
{% block content %}
    <section>
        <h1 class="text-center py-24 px-8">
            {% block content_title %}Entries{% endblock %}
        </h1>
        <div class="flex flex-wrap px-4 gap-8 justify-center mx-auto max-w-prose">
            {% for article in articles_page.object_list %}
                <article class="bg-lighter dark:bg-darker shadow-primary hover:shadow-primary motion-safe:duration-300 scale-100 hover:scale-105 shadow-md hover:shadow-lg rounded-lg w-full flex flex-col max-w-md md:flex-row md:max-w-none">
                    {% if article.thumbnail %}
                        <img src="/images/{{ article.thumbnail }}"
                             alt="Thumbnail"
                             class="rounded-t-lg md:rounded-tr-none md:rounded-l-lg object-cover md:w-1/2" />
                    {% endif %}
                    <div class="flex flex-col gap-2 p-4">
                        <h1 class="link text-2xl font-extrabold underline flex flex-col gap-2">
                            <a href="/{{ article.url }}">{{ article.title }}</a>
                        </h1>
                        <span class="font-mono text-sm md:text-base">
                            <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                            — <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>
                        </span>
                        <div class="markdown">{{ article.summary }}</div>
                        <ul class="flex flex-wrap gap-2">
                            {{ category_list_item(article.category) }}
                            {% for tag in article.tags %}{{ tag_list_item(tag) }}{% endfor %}
                        </ul>
                    </div>
                </article>
            {% endfor %}
        </div>
        {% if articles_page.has_other_pages() %}
            {% include "pagination.html" %}
        {% endif %}
    </section>
{% endblock content %}
