{% extends "base.html" %}
{% set title = page.title|striptags|title %}
{% set lang = page.lang %}
{% set description = page.summary|striptags %}
{% set url = SITEURL ~ "/" ~ page.url %}
{% if page.keywords %}
    {% block keywords %}{{ super() }}, {{ page.keywords }}{% endblock %}
{% endif %}
{% block content %}
    <article class="flex flex-col">
        <h1 class="text-center py-24 px-8">{{ page.title|striptags|title }}</h1>
        <div class="markdown p-8 pt-0">{{ page.content }}</div>
    </article>
{% endblock content %}
