{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags|title }} · {{ SITENAME }}{% endblock %}
{% block description %}{{ page.summary|striptags }}{% endblock %}
{% if page.keywords %}
    {% block keywords %}{{ super() }}, {{ page.keywords }}{% endblock %}
{% endif %}
{% block content %}
    <article class="flex flex-col">
        <h1 class="text-center py-24 px-8">{{ page.title|striptags|title }}</h1>
        <div class="markdown p-8 pt-0">{{ page.content }}</div>
    </article>
{% endblock content %}
