@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl dark:text-lighter
    }

    .markdown {
        @apply max-w-prose flex gap-2 flex-col mx-auto
    }

    .markdown h2 {
        @apply text-5xl lg:text-6xl xl:text-7xl pt-8 font-light
    }

    .markdown h3 {
        @apply text-2xl lg:text-3xl xl:text-4xl pt-6 font-light
    }

    .markdown h4 {
        @apply text-lg lg:text-xl xl:text-2xl pt-4 font-light
    }

    .markdown a {
        @apply link
    }

    .markdown ul {
        @apply pl-8
    }

    .markdown ul li {
        @apply list-disc
    }

    .markdown ol {
        @apply pl-8
    }

    .markdown ol li {
        @apply list-decimal mb-4
    }

    .markdown pre {
        @apply max-w-prose overflow-x-scroll font-mono bg-lighter dark:bg-darker p-2 rounded font-light
    }

    .markdown td, .markdown th {
        @apply text-center border
    }

    .markdown tr {
        @apply border-b-dark dark:border-b-light
    }

    .markdown img {
        @apply max-h-[80vh] object-contain rounded-lg mx-auto
    }

    /* <p>'s containing only <img>'s */
    .markdown :has(img):not(:has(:not(img))) {
        @apply h-auto flex overflow-x-auto gap-4
    }

    .markdown strong {
        @apply text-primary
    }

    .markdown blockquote {
        @apply pl-4 italic flex flex-col gap-2
    }

    .markdown blockquote p {
        @apply font-mono font-extralight
    }
}

@layer components {
    .link {
        @apply underline decoration-primary hover:opacity-50 motion-safe:duration-300
    }

    .btn {
        @apply motion-safe:duration-300 opacity-100 hover:opacity-75 hover:scale-90
    }

    .btn svg {
        @apply size-full
    }

    .stretched-link::after {
        content: "";
        @apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
    }
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}