* {
  transition-duration: 200ms;
}

:root {
  --color-muted: #bfbfbf;
  --color-primary: dodgerblue;
}

body {
  max-width: 65ch;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: "IBMPlexSans";
  font-weight: 300;
  line-height: 1.5;
  background-color: light-dark(white, black);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: Georgia, serif;
}

a {
  color: CanvasText;
  text-decoration-color: var(--color-muted);
  text-underline-offset: 0.2rem;
}

a:hover {
  text-decoration-color: CanvasText;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

body > header {
  border-bottom: 0.2rem solid var(--color-muted);
}

body > header a {
  color: inherit;
  text-decoration-color: transparent;
  text-decoration-style: dotted;
}

body > header a:hover {
  text-decoration-style: dotted;
}

body > header > nav a[aria-current] {
  text-decoration: underline;
  text-decoration-style: solid;
}

body > header > nav > ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

body > header h1 > a {
  line-height: 1.25;
}

body > footer {
  border-top: 0.2rem solid var(--color-muted);
}

article footer {
  font-size: smaller;
  border-top: 1px dashed var(--color-muted);
}

img {
  width: 100%;
  max-height: 90vh;
  border-radius: 0.5rem;
  object-fit: cover;
}

p:has(img) {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
}

p:has(img + img) img {
  width: 90%;
}

section article {
  display: flex;
  gap: 1rem;
  align-items: self-start;
  padding-bottom: 1rem;
}

section article > div {
  flex: 1;
}

section article h3 {
  margin: 0;
}

section article > img {
  width: 8rem;
  height: auto;
}

.headerlink {
  text-decoration: none;
  opacity: 0;
  margin-left: 0.25em;
}

:is(h1, h2, h3, h4, h5, h6):hover .headerlink {
  opacity: 1;
}

@media (min-width: 600px) {
  body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/theme/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf")
    format("TrueType");
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("/theme/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf")
    format("TrueType");
  font-style: italic;
}
