:root {
  --color-muted: gray;
}

body {
  max-width: 65ch;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

code,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro", monospace;
}

body > header {
  border-bottom: 0.2rem solid var(--color-muted);
}

body > footer {
  border-top: 0.2rem solid var(--color-muted);
}

article footer {
  font-size: smaller;
  border-top: 1px dashed var(--color-muted);
}

img {
  width: 100%;
  max-height: 32rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

p:has(img) {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
}

p:has(img + img) img {
  width: 90%;
}

section > article {
  display: flex;
  gap: 1rem;
  align-items: self-start;
  padding-bottom: 1rem;
}

section > article h3 {
  margin: 0;
}

section > article > img {
  width: 8rem;
  height: auto;
}
