{% extends "base.html" %}
{% load static i18n %}
{% block title %}
    {% translate "Home" %}
{% endblock title %}
{% block heading %}
    <svg viewBox="-15 -38 194 82" class="w-full mx-auto h-min mb-16">
        <path id="banner-path" stroke-linecap="round" stroke-linejoin="round" class="animate-svg-path stroke-dark dark:stroke-light stroke-1 xl:stroke-[0.5] fill-none" d="M 20 30 c -70 -80 70 -80 0 0 M -5 -10 h -9 M -2 -22 l -8 -4 M -3 2 l -8 4 M 45 -10 h 9 M 43 2 l 8 4 M 42 -22 l 8 -4 Z M 60 0 h 64 l -4 -4 l 4 4 l -4 4 l 4 -4 Z m 84 -37 h 20 a 10 10 0 0 1 10 10 v 60 a 10 10 0 0 1 -10 10 h -20 a 10 10 0 0 1 -10 -10 v -60 a 10 10 0 0 1 10 -10 m 9 5 a 1 1 0 1 1 1 1 a 1 1 0 0 1 -1 -1" />
    </svg>
    <script>
        const bannerPath = document.getElementById('banner-path')
        const length = bannerPath.getTotalLength();
        bannerPath.style.strokeDasharray = length;
        bannerPath.style.strokeDashoffset = length;
    </script>
    {% blocktranslate trimmed %}
        <span class="opacity-0 animate-[fade-in_2s_2s_both] xl:leading-relaxed">
            <span class="dark:text-light">Transforming ideas into</span>
            <a href="{{ portfolio_url }}" class="text-darker dark:text-lighter link">real software</a>
        </span>
    {% endblocktranslate %}
{% endblock heading %}
{% block content %}
    <div class="flex flex-col gap-8 text-center align-middle">
        <p class="text-2xl sm:text-3xl opacity-0 animate-[fade-in_2s_3s_both]">
            {% translate "Welcome, I am" %}
            <strong>
                <a href="{{ about_url }}" class="text-primary link">Nicolás Pujía</a>
            </strong>
        </p>
        <p class="text-1xl sm:text-2xl italic opacity-0 animate-[fade-in_2s_4s_both]">
            <i>{% translate "Your trusted developer" %}</i>
        </p>
    </div>
{% endblock content %}
