{% extends "navbar_items/buttons/base.html" %}
{% load static i18n %}
{# djlint:off #}
{% block id %}menu-button{% endblock %}
{% block script %}{% static "js/menu.js" %}{% endblock script %}
{# djlint:on #}
{% block icons %}
    {% translate "Open menu" as open_menu %}
    {% translate "Close menu" as close_menu %}
    {% include "svg.html" with help_text=open_menu svg_path="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" %}
    {% include "svg.html" with help_text=close_menu extra_classes="hidden" svg_path="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" %}
{% endblock icons %}
